.wrapper {
  color: rgb(197, 197, 197);

  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(94, 11, 11, 1) 100%);

  padding-top: 70px;
}

.wrapper p {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 30px;
}
