.wrapper {
  display: grid;
  grid-template-areas:
    'i t'
    'i d'
    'm m';

  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(94, 11, 11, 1) 25%,
    rgba(42, 12, 12, 1) 75%,
    rgba(94, 11, 11, 1) 100%
  );
  color: rgb(197, 197, 197);

  align-items: center;

  padding: 50px;

  grid-template-columns: 1fr 1fr;
}

.title {
  grid-area: t;
  font-size: 70px;
}

.description {
  grid-area: d;
  font-size: 30px;
}

.image {
  grid-area: i;
  border: 1px solid white;
}

.movies {
  grid-area: m;
}

.time {
  font-size: 40px;
  margin: 30px;
}
