.wrapper {
  display: grid;
  grid-template-areas:
    'i t'
    'i d'
    'b b'
    'm m';

  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(94, 11, 11, 1) 25%,
    rgba(42, 12, 12, 1) 75%,
    rgba(94, 11, 11, 1) 100%
  );
  color: rgb(197, 197, 197);

  align-items: center;

  padding: 50px;

  grid-template-columns: 1fr 1fr;

  @media (max-width: 1024px) {
    font-size: 50px;
  }
  @media (max-width: 768px) {
    grid-template-areas:
      'i i'
      't d'
      'b b'
      'm m';
  }
  @media (max-width: 375px) {
    font-size: 20px;
  }
}

.title {
  grid-area: t;
  font-size: 70px;
  margin-left: 20px;

  @media (max-width: 1024px) {
    font-size: 50px;
    margin-top: 20px;
  }
  @media (max-width: 768px) {
    font-size: 30px;
  }
  @media (max-width: 375px) {
    font-size: 20px;
  }
}

.description {
  grid-area: d;
  font-size: 30px;
  margin-left: 20px;

  @media (max-width: 1024px) {
    font-size: 26px;
    margin-top: 20px;
  }
  @media (max-width: 768px) {
    font-size: 22px;
  }
  @media (max-width: 375px) {
    font-size: 20px;
  }
}

.image {
  grid-area: i;
  border: 1px solid white;

  @media (max-width: 1024px) {
    width: 350px;
  }
  @media (max-width: 768px) {
    margin: 0 auto;
  }
  @media (max-width: 375px) {
    width: 300px;
  }
}

.movies {
  grid-area: m;
}

.time {
  font-size: 40px;
  margin: 30px;

  @media (max-width: 1024px) {
    font-size: 30px;
  }
  @media (max-width: 768px) {
    font-size: 26px;
  }
  @media (max-width: 375px) {
    font-size: 22px;
  }
}

.dates {
  @media (max-width: 1024px) {
    margin: 40px 0 0 20px;
  }
}
.date {
  grid-area: b;
  width: 30px;
  margin: 30px 10px 0 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 40px;
  &:hover {
    text-shadow: 2px 2px 2px black;
  }

  @media (max-width: 1024px) {
    font-size: 30px;
    width: 26px;
    margin: 0;
  }
  @media (max-width: 768px) {
    font-size: 26px;
    width: 22px;
  }
  @media (max-width: 375px) {
    font-size: 20px;
    width: 18px;
  }
}

.activeDate {
  grid-area: b;
  width: 30px;
  margin: 30px 10px 0 0;
  background-color: transparent;
  font-weight: bold;
  border: none;
  cursor: pointer;
  font-size: 60px;

  @media (max-width: 1024px) {
    font-size: 30px;
    width: 26px;
    margin: 0;
  }
  @media (max-width: 768px) {
    font-size: 26px;
    width: 22px;
  }
  @media (max-width: 375px) {
    font-size: 20px;
    width: 18px;
  }
}
