.wrapper {
  display: grid;
  grid-template-areas:
    'i t'
    'i d';

  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 1fr;
  align-items: baseline;

  border: 1px solid white;
  border-radius: 3px;

  height: 150px;

  margin: 30px;

  background: rgb(94, 11, 11);
  background: linear-gradient(90deg, rgba(94, 11, 11, 1) 0%, rgba(48, 13, 13, 1) 100%);

  color: black;
}

.image {
  grid-area: i;
  height: 100%;
}

.title {
  grid-area: t;
  margin-top: 10px;
  font-size: 30px;
}

.genre {
  grid-area: g;
}

.description {
  grid-area: d;
  margin-top: 10px;
  font-size: 20px;
}
