.wrapper {
  display: grid;

  grid-template-areas:
    'i t t a'
    'i c c c'
    'i d d d';
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(94, 11, 11, 1) 100%);

  color: rgb(197, 197, 197);

  grid-template-columns: 3fr 2fr 2fr 2fr;
  grid-template-rows: 1fr 50px 1fr;

  align-items: center;

  padding: 50px;
  grid-gap: 40px;

  @media (max-width: 768px) {
    grid-template-areas:
      'i i'
      't a'
      'c c'
      'd d';
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: 375px) {
    font-size: 20px;
  }
}

.image {
  grid-area: i;
  border: 1px solid white;
  width: 400px;
  @media (max-width: 1024px) {
    width: 350px;
  }
  @media (max-width: 768px) {
    margin: 0 auto;
    width: 300px;
  }
  @media (max-width: 375px) {
    width: 170px;
  }
}

.title {
  grid-area: t;
  font-size: 50px;

  @media (max-width: 1024px) {
    font-size: 30px;
  }
  @media (max-width: 768px) {
    font-size: 25px;
  }
  @media (max-width: 375px) {
    font-size: 20px;
  }
}

.description {
  grid-area: d;
  font-size: 20px;

  @media (max-width: 1024px) {
    font-size: 18px;
  }
  @media (max-width: 768px) {
    font-size: 16px;
  }
  @media (max-width: 375px) {
    font-size: 14px;
  }
}

.ageRating {
  grid-area: a;
  font-size: 50px;
  background-color: white;
  width: 80px;
  height: 80px;
  color: black;
  border-radius: 3px;
  border: 1px solid gray;
  padding-top: 7px;
  margin-left: 60%;

  @media (max-width: 1024px) {
    font-size: 25px;
    width: 45px;
    height: 45px;
  }
}

.director {
  display: inline-block;
  margin-bottom: 10px;

  font-size: 20px;

  @media (max-width: 1024px) {
    font-size: 18px;
  }
  @media (max-width: 768px) {
    font-size: 16px;
  }
  @media (max-width: 375px) {
    font-size: 14px;
  }
}

.cast {
  font-size: 20px;
  grid-area: c;
  align-self: baseline;

  @media (max-width: 1024px) {
    font-size: 18px;
  }
  @media (max-width: 768px) {
    font-size: 16px;
  }
  @media (max-width: 375px) {
    font-size: 14px;
  }
}

.duration {
  font-size: 18px;
  font-weight: bold;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
  @media (max-width: 375px) {
    font-size: 14px;
  }
}

.genre {
  font-size: 18px;
  margin-right: 10px;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
  @media (max-width: 375px) {
    font-size: 14px;
  }
}
