.wrapper {
  display: grid;
  grid-template-areas:
    'i t'
    'i g'
    'i d';

  grid-template-columns: 270px 10fr;
  grid-template-rows: 1fr 1fr 4fr;
  align-items: center;

  border: 1px solid white;
  border-radius: 3px;

  margin: 30px;
  height: 325px;
  padding-right: 300px;

  background: rgb(94, 11, 11);
  background: linear-gradient(90deg, rgba(94, 11, 11, 1) 0%, rgba(48, 13, 13, 1) 100%);

  color: rgb(197, 197, 197);
}

.image {
  grid-area: i;
  height: 100%;
  width: 230px;
}

.title {
  grid-area: t;
  margin-top: 40px;
  font-size: 30px;
}

.genre {
  grid-area: g;
  font-size: 15px;
}

.description {
  grid-area: d;
  margin-top: 10px;
  align-self: baseline;
  overflow: hidden;
}
