.wrapper {
  display: grid;
  grid-template-areas:
    'i t t a'
    'i c c c'
    'i d d d';
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(94, 11, 11, 1) 100%);

  color: rgb(197, 197, 197);

  grid-template-columns: 3fr 2fr 2fr 2fr;

  align-items: center;

  padding: 50px 100px;
}

.image {
  grid-area: i;
  height: 500px;
  border: 1px solid white;
}

.title {
  grid-area: t;
  font-size: 50px;
}

.description {
  grid-area: d;
  font-size: 20px;
}

.ageRating {
  grid-area: a;
  font-size: 50px;
  background-color: white;
  width: 80px;
  height: 80px;
  color: black;
  border-radius: 3px;
  border: 1px solid gray;
  padding-top: 7px;
  margin-left: 60%;
}

.director {
  display: inline-block;
  margin-bottom: 10px;
}

.cast {
  font-size: 20px;
  grid-area: c;
  align-self: baseline;
}

.duration {
  font-size: 18px;
  font-weight: bold;
}

.genre {
  font-size: 18px;
  margin-right: 10px;
}
